@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sigmar&display=swap');


body {
    font-family: 'Atkinson', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0; 
}

header, section, footer {
    padding: 20px;
    margin: 10px;
}


h1::first-letter {
    font-size: 2em;
    color: #869123;
}

p::before {
    content: "💡 ";
    color: #ff6347;
}

p::after {
    content: " 🌟";
    color: #ff6347;
}


a:hover {
    color: #74b40e;
    text-decoration: underline;
}

input:focus {
    border-color: #72c513;
    outline: none;
}

li:nth-child(odd) {
    background-color: lightblue;
}


header > div {
    background-color: #f8f8f8;
    padding: 10px;
}

section + section {
    border-top: 1px solid #ddd;
}

footer ~ footer {
    margin-top: 20px;
    text-align: center;
}

#contact {
    display: flex;
    flex-direction: column;
    gap: 40px;
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: lightblue;
}

#contact-form input,
#contact-form select,
#contact-form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

#contact-form input:focus,
#contact-form select:focus,
#contact-form textarea:focus {
    border-color: #007BFF;
    outline: none;
}

#contact-form button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #5ed817;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#contact-form button:hover {
    background-color: #0056b3;
}



@media (max-width: 768px) {
    body {
        padding: 10px;
    }

    header, section, footer {
        padding: 10px;
        margin: 5px;
    }

    #contact {
        padding: 10px;
    }
}
